.color-picker {
  width: 800px;
  height: 800px;
  border: 1px solid black;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected-color {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.pick-color-button {
  width: 100%;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.color-palette {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  
}

.selected-color:active .color-palette {
  visibility: visible;
}

.color-palette li {
  width: 20px;
  height: 20px;
  margin: 5px;
  cursor: pointer;
}
